/* login.component.css */
.login-card {
    max-width: 300px;
    margin: auto;
    margin-top: 50px;
  }
  
  .full-width {
    width: 100%;
  }
  .error {
    color: red;
    background: pink;
    padding-bottom: 10px;
  }