<h1 mat-dialog-title>
    <mat-icon color="primary">calendar_month</mat-icon>&nbsp;
    New Meeting
</h1>
<div mat-dialog-content>
    <mat-form-field class="full-width">
        <mat-label>Add title</mat-label>
        <input matInput [(ngModel)]="data.title">
    </mat-form-field>
    <mat-form-field class="full-width">
        <mat-label>Add required attendees</mat-label>
        <mat-select [(ngModel)]="data.attendeeList" multiple>
            @for (topping of userList; track topping) {
            <mat-option [value]="topping">{{topping}}</mat-option>
            }
        </mat-select>
    </mat-form-field>
    <mat-form-field class="full-width">
        <mat-label>Choose a date</mat-label>
        <!-- #docregion toggle -->
        <input matInput [matDatepicker]="picker" [(ngModel)]="data.dateOfMeeting">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="full-width">
        <mat-label>Type details for this meeting</mat-label>
        <textarea [(ngModel)]="data.details" matInput></textarea>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="primary" [mat-dialog-close]="data" (click)="save()">Save</button>
    <button mat-raised-button color="warn" [mat-dialog-close]="data" (click)="close()">Close</button>
</div>